<a href="https://colab.research.google.com/github/rikithreddy/dsworkshop/blob/main/Data_Science_Workshop_feb_5_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to google colab

Some interesting features:
* Comment and Share it really quick!
* Free resources!
* Mounting gdrive to access your files!
* Text and code in the same place!


---

# Basics of google colab

## Text and code cells?
**This is a text cell**

Hello whats up

```python
a = 1
print(1)
```

In [1]:
# This is a code cell
a = 1
print(a)

1

## Prints are not needed in most of the cases

In [12]:
print(123)

123

## Try it yourself
Write some basic python code and get a feel of your notebook.

In [5]:
# Write some python code here :)
print('hello world')

hello world
15

## Pro Tip
Sticking to good practices, always run cells in order.

# Data & Python!
```
What is data?
Where is data?
Who is data?
```

* Spreadsheets
* API calls
* JSON files
* CSV files
* YAML files
* SQL database


## That's ok but how do I get this data to python?

Using **pandas**

![pandas](http://4.bp.blogspot.com/-JYiKvzQgg4g/UQFnLfJR6UI/AAAAAAAAEVU/EnPgdxrRHXs/s1600/Panda-info-and+images+07.jpg)

## Pandas

### Official definition
```
Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.
```

### Layman's definition
```
Python object which can perform everything your Excel spreadsheet can.
```

## Code examples

Let's load this data

https://raw.githubusercontent.com/PyDataPune/Code-and-Coffee-2/master/matches.csv

**Data Credits**: [Mayank Mishra](https://github.com/mayankskb) (*pydata:Pune*)

In [22]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/PyDataPune/Code-and-Coffee-2/master/matches.csv")
df

            city        date  ... win_by_wickets                       winner
0         Mumbai  2010-04-24  ...            9.0  Royal Challengers Bangalore
1          Delhi  2010-03-29  ...            NaN             Delhi Daredevils
2         Mumbai  2008-05-16  ...            8.0               Mumbai Indians
3           Pune  2016-04-22  ...            NaN  Royal Challengers Bangalore
4         Mumbai  2010-04-22  ...            NaN          Chennai Super Kings
..           ...         ...  ...            ...                          ...
741    Hyderabad  2018-04-12  ...            1.0          Sunrisers Hyderabad
742  East London  2009-05-04  ...            NaN          Chennai Super Kings
743    Bangalore  2008-05-28  ...            9.0               Mumbai Indians
744          NaN  2014-04-28  ...            5.0              Kings XI Punjab
745    Bangalore  2010-04-17  ...            NaN               Mumbai Indians

[746 rows x 20 columns]

# Head and Tail functions

In [44]:
df.tail(3)

          city        date  ... win_by_wickets           winner
743  Bangalore  2008-05-28  ...            9.0   Mumbai Indians
744        NaN  2014-04-28  ...            5.0  Kings XI Punjab
745  Bangalore  2010-04-17  ...            NaN   Mumbai Indians

[3 rows x 20 columns]

### Do it yourself

Get first 0 rows

Get last 747 rows
Note the dataframe just has 746 rows

## Basic exploration

In [40]:
df.describe()

                 id  overs       season  win_by_runs  win_by_wickets
count  7.460000e+02  746.0   746.000000   336.000000      398.000000
mean   7.135520e+05   20.0  2013.369973    29.883929        6.251256
std    2.845419e+05    0.0     3.326906    27.276827        1.821281
min    3.359820e+05   20.0  2008.000000     1.000000        1.000000
25%    5.012092e+05   20.0  2011.000000    11.000000        5.000000
50%    5.980485e+05   20.0  2013.000000    22.000000        6.000000
75%    9.809845e+05   20.0  2016.000000    39.000000        8.000000
max    1.178425e+06   20.0  2019.000000   146.000000       10.000000

## Counting matches

In [54]:
df.result.unique()

array([nan, 'no result', 'tie'], dtype=object)

In [58]:
df.result.value_counts()

NaN          734
tie            8
no result      4
Name: result, dtype: int64

## Your turn

* What are the unique values of `toss_decision`

* What does `value_counts` of `toss_decision` look like?
* Do those values add up to `746`?
* What can you conclude from that?

## Selection operations

#### Lets go back to lists in python

In [36]:
l = [0,1,2,3,4,5,6,7,8,9,10]

#### Your turn
Try getting an output of `[7,8,9]` using both first and last index

[7, 8, 9]

Try getting the output `[8,9,10]` using only first index

[8, 9, 10]

Try getting the output `[1,2,3,4,5]` using only last index

[1, 2, 3, 4, 5]

#### Back to pandas

In [26]:
df.describe()

# Ask a question
# Answer it with data?
# Go back and re-verify if it was right

array([nan, 'no result', 'tie'], dtype=object)

In [25]:
# 336 first batting won
# 398 second batting won
# 12 matches was a draw
746 - 336 - 398

12

In [33]:
df.dl_applied.unique()

array([nan, 'D/L'], dtype=object)

In [32]:
df.result.value_counts()

tie          8
no result    4
Name: result, dtype: int64

Quick summary

* Load data into pandas
* `head()`, `tail()` which help you look at data
* `describe()` which gives info about the data frame
* Accessing a single column
* Getting insights from a single columns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# How many matches did