<a href="https://colab.research.google.com/github/rikithreddy/dsworkshop/blob/main/Data_Science_Workshop_feb_5_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to google colab

Some interesting features:
* Comment and Share it really quick!
* Free resources!
* Mounting gdrive to access your files!
* Text and code in the same place!


---

# Basics of google colab

## Text and code cells?
**This is a text cell**

Hello whats up

```python
a = 1
print(1)
```

In [ ]:
# This is a code cell
a = 1
print(a)

## Prints are not needed in most of the cases

In [ ]:
print(123)

## Try it yourself
Write some basic python code and get a feel of your notebook.

In [ ]:
# Write some python code here :)
print('hello world')

## Pro Tip
Sticking to good practices, always run cells in order.

# Data & Python!
```
What is data?
Where is data?
Who is data?
```

* Spreadsheets
* API calls
* JSON files
* CSV files
* YAML files
* SQL database


## That's ok but how do I get this data to python?

Using **pandas**

![pandas](http://4.bp.blogspot.com/-JYiKvzQgg4g/UQFnLfJR6UI/AAAAAAAAEVU/EnPgdxrRHXs/s1600/Panda-info-and+images+07.jpg)

## Pandas

### Official definition
```
Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.
```

### Layman's definition
```
Python object which can perform everything your Excel spreadsheet can.
```

## Code examples

Let's load this data

https://raw.githubusercontent.com/PyDataPune/Code-and-Coffee-2/master/matches.csv

**Data Credits**: [Mayank Mishra](https://github.com/mayankskb) (*pydata:Pune*)

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/PyDataPune/Code-and-Coffee-2/master/matches.csv")
df

# Head and Tail functions

In [ ]:
df.tail(3)

### Do it yourself

Get first 0 rows

Get last 747 rows
Note the dataframe just has 746 rows

## Basic exploration

In [ ]:
df.describe()

## Counting matches

In [ ]:
df.result.unique()

In [ ]:
df.result.value_counts()

## Your turn

* What are the unique values of `toss_decision`

* What does `value_counts` of `toss_decision` look like?
* Do those values add up to `746`?
* What can you conclude from that?

## Let's do everything we learnt at once

In [ ]:
# Create a temporary data frame
temp_df = df.head(100)

In [ ]:
temp_df.describe()

In [ ]:
temp_df.result.value_counts()

### Your turn
Can you get the `value_counts()` of `toss_decision` last 50 rows?

## Quick summary

* Colab basics
* Load data into pandas
* head(), tail() which help you look at data
* describe() which gives info about the data frame
* Accessing a single column
* Getting insights from a single columns

## Selection operations

#### Lets go back to lists in python

In [ ]:
_ = df.win_by_wickets.hist(bins=10)

In [ ]:
l = [0,1,2,3,4,5,6,7,8,9,10]

#### Your turn
Try getting an output of `[7,8,9]` using both first and last index

Try getting the output `[8,9,10]` using only first index

Try getting the output `[1,2,3,4,5]` using only last index

#### Back to pandas basic selection tools
`loc`, `iloc`, `update example`

# Filtering

```iloc vs query```

# Group by

Which city had the highest number of matches played?

In [ ]:
df.query('winner == "Deccan Chargers"').groupby(["season"])[['win_by_runs', 'win_by_wickets']].agg(['min', 'max', 'count'])#.id.reset_index().tail(10)#.sort_values(ascending=False)

In [ ]:
# Your turn!

In [ ]:
# 336 first batting won
# 398 second batting won
# 12 matches was a draw
746 - 336 - 398

In [ ]:
df.dl_applied.unique()

In [ ]:
df.result.value_counts()

# How many matches did team X win per year

In [ ]:
import plotly.express as px

small_list = ['Sunrisers Hyderabad', 'Chennai Super Kings', 'Deccan Chargers']
win_summary_df = (
    df.groupby(["winner", "season"])
    .id
    .count()
    .reset_index()
    .rename(columns = {'id':'matches_won'})
    .query("winner in @small_list")
)
win_summary_df

In [ ]:
fig = px.line(win_summary_df, x="season", y="matches_won", color="winner", title='Matches Won', text='season')
fig.show()

# Congrats on completing the workshop :) 
Please leave a feedback https://docs.google.com/forms/d/e/1FAIpQLSc8Rcl_vrq3ygnUKULbdkqm-FNlTSJT-FIUui9sJSX5pAQ4SQ/viewform?usp=sf_link